## 1. Importación de librerías y carga de datos

In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import skew, kurtosis, spearmanr, pearsonr, mode
from sklearn.preprocessing import StandardScaler

In [6]:
data = pd.read_csv("../../datos/pre_processed_2.csv")

In [7]:
data

,Administrative,Informational,ProductRelated,Administrative_Duration,Informational_Duration,ProductRelated_Duration,Weekend,VisitorType,Revenue
0,0,0,1,0.0,0.0,0.000000,False,Returning_Visitor,False
1,0,0,2,0.0,0.0,64.000000,False,Returning_Visitor,False
2,0,0,1,0.0,0.0,0.000000,False,Returning_Visitor,False
3,0,0,2,0.0,0.0,2.666667,False,Returning_Visitor,False
4,0,0,10,0.0,0.0,627.500000,True,Returning_Visitor,False
...,...,...,...,...,...,...,...,...,...
11708,3,0,53,145.0,0.0,1783.791667,True,Returning_Visitor,False
11709,0,0,5,0.0,0.0,465.750000,True,Returning_Visitor,False
11710,0,0,6,0.0,0.0,184.250000,True,Returning_Visitor,False
11711,4,0,15,75.0,0.0,346.000000,False,Returning_Visitor,False
11712,0,0,3,0.0,0.0,21.250000,True,New_Visitor,False

## 2. Codificación

Dado que solamente hay una variable categórica nominal, se realiza one hot encoding.

In [9]:
data = pd.get_dummies(data, columns=["VisitorType"], drop_first=True)

In [10]:
data

,Administrative,Informational,ProductRelated,Administrative_Duration,Informational_Duration,ProductRelated_Duration,Weekend,Revenue,VisitorType_Other,VisitorType_Returning_Visitor
0,0,0,1,0.0,0.0,0.000000,False,False,False,True
1,0,0,2,0.0,0.0,64.000000,False,False,False,True
2,0,0,1,0.0,0.0,0.000000,False,False,False,True
3,0,0,2,0.0,0.0,2.666667,False,False,False,True
4,0,0,10,0.0,0.0,627.500000,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...
11708,3,0,53,145.0,0.0,1783.791667,True,False,False,True
11709,0,0,5,0.0,0.0,465.750000,True,False,False,True
11710,0,0,6,0.0,0.0,184.250000,True,False,False,True
11711,4,0,15,75.0,0.0,346.000000,False,False,False,True
11712,0,0,3,0.0,0.0,21.250000,True,False,False,False

## 3. Escalamiento

In [13]:
num_cols = data.select_dtypes(include=["int64", "float64"]).columns

scaler = StandardScaler()
data[num_cols] = scaler.fit_transform(data[num_cols])

In [14]:
data

,Administrative,Informational,ProductRelated,Administrative_Duration,Informational_Duration,ProductRelated_Duration,Weekend,Revenue,VisitorType_Other,VisitorType_Returning_Visitor
0,-0.710242,-0.394062,-0.863423,-0.522647,-0.258793,-0.816978,False,False,False,True
1,-0.710242,-0.394062,-0.829334,-0.522647,-0.258793,-0.762707,False,False,False,True
2,-0.710242,-0.394062,-0.863423,-0.522647,-0.258793,-0.816978,False,False,False,True
3,-0.710242,-0.394062,-0.829334,-0.522647,-0.258793,-0.814716,False,False,False,True
4,-0.710242,-0.394062,-0.556629,-0.522647,-0.258793,-0.284867,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...
11708,0.369221,-0.394062,0.909161,0.689098,-0.258793,0.695650,True,False,False,True
11709,-0.710242,-0.394062,-0.727070,-0.522647,-0.258793,-0.422029,True,False,False,True
11710,-0.710242,-0.394062,-0.692982,-0.522647,-0.258793,-0.660737,True,False,False,True
11711,0.729042,-0.394062,-0.386189,0.104118,-0.258793,-0.523575,False,False,False,True
11712,-0.710242,-0.394062,-0.795246,-0.522647,-0.258793,-0.798958,True,False,False,False

In [16]:
data.to_csv("../../datos/processed_data.csv",index=False)